<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CIN7Core_MFT_EDI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CIN7Core_MFT_EDI.Properties.Settings>
            <setting name="Cin7APIBaseURL" serializeAs="String">
                <value>https://inventory.dearsystems.com/ExternalApi/v2/</value>
            </setting>
            <setting name="Cin7AccountId" serializeAs="String">
                <value>06ad6f4f-0e2e-46e8-9e4c-327f2f2eb236</value>
            </setting>
            <setting name="Cin7APIKey" serializeAs="String">
                <value>271e8e3d-22f5-1dfe-aad1-535e1c0d8d28</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\Logs</value>
            </setting>
            <setting name="FtpUsername" serializeAs="String">
                <value>MFT-FTP</value>
            </setting>
            <setting name="FtpPassword" serializeAs="String">
                <value>4pple$Oranges1</value>
            </setting>
            <setting name="FtpTargetDirectory" serializeAs="String">
                <value>EDI/test/out</value>
            </setting>
            <setting name="FtpURL" serializeAs="String">
                <value>ftp://45.79.215.102</value>
            </setting>
        </CIN7Core_MFT_EDI.Properties.Settings>
    </userSettings>
</configuration>